# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec


# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
*.log

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb


# Environments
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.envrc


# PyCharm
.idea/
*.sublime-project
*.sublime-workspace

# VS Code
.vscode/
*.code-workspace

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Cython debug symbols
cython_debug/


# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak
*.orig

# System files
.DS_Store
Thumbs.db
